/* цвет фона #E5E5E5 */
/* цвет героя и подвала #2F303A */
/* цвет актцента #2196F3 */
/* цвет заголовков #212121 */
/* цвет текста #757575 */
/* цвет наша команда и заголовков h3 #F5F4FA */
/* цвет мыла и телефона в подвале rgba(255, 255, 255, 0.6); */
:root {
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --title-text-color: #212121;
  --primary-bg-color: #e5e5e5;
}
body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.start-logo {
  color: #2196f3;
}

.site-nav {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}

.site-nav .header-link.current {
  color: var(--accent-text-color);
}

.header-link {
  color: var(--title-text-color);
  text-decoration: none;
}

.contacts-list .feedback {
  color: var(--primary-text-color);
  text-decoration: none;
}

.feedback:hover,
.feedback:focus {
  color: var(--accent-text-color);
}

.section-title {
  color: var(--title-text-color);
}

.description-title {
  color: var(--title-text-color);
}

.description {
  color: var(--primary-text-color);
}

/* Основная информация */
/* Герой */

.hero {
  color: var(--primary-bg-color);
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-button:hover,
.order-button:focus {
  background-color: #000000;
}

.order-button {
  font-family: inherit;
  color: #e5e5e5;
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/* Важность */
.importance-title {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.importance-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* О студии */
.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Команда */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
}
.team-possition {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
}

/* Подвал */
.footer {
  background-color: #2f303a;
}
.footer .logo {
  color: var(--primary-bg-color);
  text-decoration: none;
}

.footer-adress {
  color: #ffffff;
  text-decoration: none;
}

.footer-info:hover,
.footer-info:focus {
  color: var(--primary-bg-color);
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.main-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Портфолио */
.portfolio-title {
  color: var(--primary-bg-color);
}

/* фильтры */
.page-filters {
  list-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.projects-examples {
  list-style: none;
}
.projects-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-way {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.filters-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
